
{% extends "main/header.html" %}
    {% load static %}
	{% block content %}
	{% load crispy_forms_tags %}

	<!--User page HTML-->

<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
<div class="container py-5">
	    <h1 class="font-weight-bold">Contact us</h1>
	    <hr>
	    <br>
<form action="" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="yTF5g7ceTgkwsOimKxZpuV10DG4a1TWFwQ60pneu047lPvu6kTAlNYPfYEC9G8jq">
    <tr>
        <th>
            <label for="id_email">Email:</label>
        </th>
        <td>
            <input type="email" name="email" maxlength="254" required id="id_email">
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_subject">Subject:</label>
        </th>
        <td>
            <input type="text" name="subject" maxlength="255" required id="id_subject">
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_message">Message:</label>
        </th>
        <td>
            <textarea name="message" cols="40" rows="10" required id="id_message"></textarea>
        </td>
    </tr>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}